<div class="row justify-content-center">
    <h1>{{room.topic}}</h1>
</div>

<div class="row justify-content-center">
    <div class="col-8">
        {{#each posts as |post|}}
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title text-center">{{post.subject}}</h3>
                    <p>{{post.body}}</p>
                    <!-- <p>{{post}}</p> -->
                </div>

                <div class="card-footer text-muted text-left">
                    <span class="points-span">{{post.points}} points </span>

                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-success">+</button>
                        <button type="button" class="btn btn-danger">-</button>
                    </div>
                </div>

            </div>

            <!-- Add everything between the <ul>...</ul> tags -->
            <ul>
                <li><a href="/rooms/{{../room.id}}/posts/{{post.id}}/comments/new">New comment</a></li>
                {{#each post.comments as |comment|}}
                    <li>{{comment.body}}</li>
                {{/each}}

            </ul>

        {{/each}}

    </div>
</div>

<div class="row justify-content-center">
    <a href="/rooms/{{room.id}}/posts/new">New Post</a>
</div>
